:root {
  --yellow-shadow: 0 0 0 0.25rem rgb(99 80 24 / 57%);
  --primary-font-family: "Playfair Display", serif;
  --numbers-font: "Cormorant Infant", serif;
  --heading-color: #fefbf6;
  --primary-color: #b4e7e9;
  --secondary-color: #f2df3a;
}

footer {
  font-family: var(--numbers-font);
  text-align: center;
  font-size: 18px;
}

footer a {
  color: var(--secondary-color);
  font-weight: bold;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
  color: var(--secondary-color);
}

.App {
  margin: 80px auto;
  max-width: 700px;
  font-family: var(--primary-font-family);
  color: var(--primary-color);
}

.App-container {
  backdrop-filter: blur(8px); /* Chrome and Opera */
  box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.08);
  width: 650px;
  margin: auto;
  border-radius: 20px;
  padding: 30px 50px;
}

.App form {
  text-align: center;
}

@media (max-width: 700px) {
  footer {
    font-size: 13px;
  }

  .App {
    margin: 50px auto 100px;
    max-width: 500px;
  }

  .App-container {
    width: 380px;
    margin: auto;
  }
}
